@page "/"
@using Store
@using AutoStep.Definitions
@using AutoStep.Projects;
@using AutoStep.Editor.Client.Language
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IState<AppState> State
@inject IDispatcher Dispatcher
@inject HttpClient Http

<div class="flex-grow-1">
    @{ Console.WriteLine("Rendering Index"); }
    @if (State.Value.Project is object)
    {
        Console.WriteLine("Rendering Window");
        <CodeWindow />
    }
</div>

@code
{
  protected override void OnInitialized()
  {
      base.OnInitialized();

      // Create a project.
      var project = new Project();

      // Create a default file.
      var fileSource = new ProjectFileSource(Http, "testfile.as");

      var projectFile = new ProjectFile("testfile.as", fileSource);

      project.TryAddFile(projectFile);

      var defaultFileState = new ProjectFileState(new Uri("file://testfile.as"), projectFile, fileSource);

      var callbackSource = new CallbackDefinitionSource();

      callbackSource.Given("I have entered {arg1} into {arg2}", () => { });
      callbackSource.Given("I have selected {type} in the {name} dropdown", () => { });

      project.Compiler.AddStaticStepDefinitionSource(callbackSource);

      Dispatcher.Dispatch(new SwitchProjectAction(project, defaultFileState));
  }
}