@page "/"
@using AutoStep.Projects;
@using AutoStep.Editor.Client.Language
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IState<AppState> State
@inject IDispatcher Dispatcher
@inject HttpClient Http

<div class="code-window-host">
    @if (State.Value.Project is object)
    {
            @foreach(var item in State.Value.FileViews)
            {
                var file = State.Value.Files[item.Value.FileId];
                <div class="code-window-container">
                    <CodeWindow ViewStateId="@item.Key" />
                </div>
            }
    }
</div>

@code
{
  protected override void OnInitialized()
  {
      base.OnInitialized();

      // Create a project.
      var project = new Project();

      // Add our interactions file
      var interactionFileSource = new ProjectFileSource(Http, "Interactions.asi");
      var interactionFile = new ProjectInteractionFile("Interactions.asi", interactionFileSource);

      var testFileSource = new ProjectFileSource(Http, "testfile.as");
      var testFile = new ProjectTestFile("testfile.as", testFileSource);

      project.Compiler.Interactions.AddMethods<DemoMethods>();

      project.TryAddFile(interactionFile);
      project.TryAddFile(testFile);

      Dispatcher.Dispatch(new SwitchProjectAction(project));
  }
}